// Variables
$color-primario: #ffffff; // blanco
$color-secundario: #0000ff; // azul

// Estilos generales
body {
  font-family: Arial, sans-serif;
  color: $color-primario;
  background-color: $color-secundario;
}

// Navegación
nav {
  ul {
    list-style-type: none;
    li {
      display: inline;
      margin-right: 1em;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

// Estilos para las tarjetas de hoteles
.hotel-card {
  @include borde-redondeado(10px);
  background: $color-secundario;
  padding: 20px;

  .hotel-nombre {
    font-size: 1.5em;
  }

  .precio {
    color: $color-primario;
    font-weight: bold;
  }
}
.hotel-card {
  @include borde-redondeado(10px);
  background: $color-secundario;
  padding: 20px;

  .hotel-nombre {
    font-size: 1.5em;
  }

  .precio {
    color: $color-primario;
    font-weight: bold;
  }
}