    
// Variables
$primary-color: #333;
$secondary-color: #fff;
$font-family: Arial, sans-serif;

// Estilos generales
body {
  background-color: #333;
  font-family: $font-family;
  color: $primary-color;
}


nav {
  background-color: $secondary-color;
  ul {
    list-style-type: none;
    li {
      display: inline;
      margin-right: 1em;
    }
  }
}

// Sección de logos
.logos {
  display: flex;
  justify-content: space-between;
  img {
    width: 100px;
    height: auto;
  }
}

// Banner principal
.banner {
  background-image: url('');
  background-size: cover;
  height: 300px;
  color: $secondary-color;
  text-align: center;
  padding-top: 100px;
  h1 {
    font-size: 2em;
  }
}

// Anuncio
.anuncio {
  background-color: $secondary-color;
  padding: 1em;
  margin: 1em 0;
}

// Imágenes inferiores
.inferior {
  display: flex;
  justify-content: space-between;
  img {
    width: 49%;
    height: auto;
  }
}
