$color-fondo-footer: #333;
$color-texto-footer: white;

.footer {
  background-color: #003366;
  color: white;
  padding: 20px;
  
  .section {
    margin: 0 20px;

    h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;

      li {
        font-size: 14px;
        line-height: 1.6;
      }
    }
   }
}
