// Colores
$color-primario: #003366; // Color oscuro para el fondo
$color-secundario: #FFFFFF; // Color blanco para el texto
$color-terciario: #333333; // Color gris oscuro para el footer

// Fuentes
$fuente-primaria: 'Arial', sans-serif; // Fuente principal
$fuente-secundaria: 'Helvetica', sans-serif; // Fuente secundaria

// Espaciado
$espaciado: 20px; // Espaciado general
